<blockquote class="quote">
    <p class="quote__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita labore tempora, ratione nobis repellat odio minima voluptas deleniti mollitia excepturi.</p>
  <footer>
    <div class="media">
    <div class="media__image">
      <svg class="icon icon--primary quote__line">
        <use xlink:href="./css/images/sprite.svg#line-xl-svgrepo-com"></use>
      </svg>
    </div>
    <div class="media__body">
      <h3 class="media__title quote__author">john smith</h3>
      <p class="quote__organization">ABC company</p>
    </div>
  </div>
  </footer>
</blockquote>
